@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Jura", sans-serif;
  background: #eaeaea;
}

/* width */
:webkit-scrollbar {
  width: 10px;
}

/* Track */
:webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
:webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background: rgb(31 41 55 / var(--tw-bg-opacity));

  border-radius: 5px;
}

/* Handle on hover */
:webkit-scrollbar-thumb:hover {
  background: #0b0a0a;
}

.sidebar-separator-top {
  border-bottom: 1px solid #2e2e2e;
}
.sidebar-separator-bottom {
  border-top: 1px solid #2e2e2e;
}
.text-premium-yellow {
  color: #f7b91c;
}
.icon-background {
  background: #2d2d2d;
}

.tooltip-head {
  background: #1d1d1d;
}
.tooltip-body {
  background: #252525;
}

.search-icon {
  top: 50%;
  transform: translate(0, -50%);
}

.card-stack-border {
  border-bottom: 2px solid #696969;
}
.bg-details {
  background-color: #1e1e1e;
}

.add-component-head {
  background-color: #181818;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
}

.sidebar-item-selected {
  color: black;
  background: #ffffff;
  border-right: 3px solid rgb(31 41 55 / var(--tw-bg-opacity));
  border-left: 4px solid rgb(31 41 55 / var(--tw-bg-opacity));
}
.sidebar-item {
  border-right: 2px solid transparent;
}
.sidebar-item:hover {
  background: #ffffff;
  color: black;
  border-right: 3px solid rgb(31 41 55 / var(--tw-bg-opacity));
  border-left: 4px solid rgb(31 41 55 / var(--tw-bg-opacity));
}
